[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
	branch = main
[submodule "caldera-blockchain-gui"]
	path = caldera-blockchain-gui
	url = https://github.com/Caldera-Network/caldera-blockchain-gui.git
	branch = pools